.section-join-us {
    overflow: hidden;
    padding: 0 0 3rem 0;
    padding-top: 20rem;
    margin-top: -20rem;
    padding-bottom: 23rem;
    margin-bottom: -20rem;

    // margin-bottom: -18rem;
}

.join-us {
    display: flex;
    background-image: $blue-gradient;
    padding: 6.7rem 6% 9rem 6%;
    color: $white;
    border-radius: 2.5rem;
    position: relative;

    // .organization-button{
    //     position: absolute;
    //     left: 51.5%;
    //     bottom: 16%;
    //   }

    //   .user-button {
    //     position: absolute;
    //     left: 5.5%;
    //     bottom: 17.5%;
    // }

    .organization-button, .user-button {
        // justify-self: flex-end;
        margin-top: auto;
    }


    .organization-welcome{
        padding-left: 7rem;
        border-left: 1px dashed rgba(255, 255, 255, 0.15);
      }
    
      .user-welcome{
        // padding-right: 30rem;
        padding-right: 7rem;
      }

    .user-heading, .org-heading{
        margin-top: 2rem;
      }

    .text-content {
        max-width: 692px;
        width: 50%;
        font-size: 2.4rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .heading {
            margin-bottom: 2rem;
            line-height: 1.4;
            // font-size: 3.6rem;
        }

        .heading-light {
            font-weight: 300;
            margin-bottom: 0;
            color: #bcbccc;
            font-size: 2.4rem;
        }

        .heading--lgg {
            height: 8rem;
        }
    }

    .paragraph {
        font-size: 1.8rem;
        margin-bottom: 6.8rem;
        line-height: 2.8rem;
    }

    .img-lg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -4%;
        width: 43%;
        z-index: 1;
        display:none;
    }
  }


// .heading--md, .firago--md {
//   font-size: 2.4rem;
// }

// .heading--lgg, .firago--lgg {
//   font-size: 3.6rem;
// }

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-template-rows: auto auto auto;
    column-gap: 1.3rem;
    row-gap: 1rem;

    .event {
        margin: 0;
        transition: transform 0.15s ease-in-out;

        &__bottom {
            flex-direction: row;
            align-items: center;
        }

        &__title {
            h3 {
                font-size: 1.5rem;
                max-height: 4.8rem;
                margin-top: 0;
                letter-spacing: 0.05rem;
            }
        }

        &__desc {
            height: auto;
            max-height: 9.5rem;
            overflow: hidden;
        }
    }

    .item-md {
        grid-column: 1/2;
        grid-row: 1/3;

        &:nth-child(4) {
            grid-row: 3/4;
        }
    }

    .item-sm {
        grid-column: 2/3;

        &:nth-child(3) {
            grid-column: 3/4;
        }
    }

    .item-lg {
        grid-column: 2/4;
        grid-row: 2/4;

        .event__img {
            padding-top: 49%;
        }
    }
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 3rem;
    grid-column-gap: 3rem;

    .link-fancy {
        grid-column: 1/4;
        justify-content: center;
        margin-bottom: 5.6rem;
    }

    &--light {
        background: rgba(255, 255, 255, 0.5);
    }
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-white {
    background: rgba(255, 255, 255, 0.5);
}


.section-highlighted {
    display: none;
}