.footer {
  background-color: #334194;

  &.sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    padding: 2rem 0;

    a {
      display: inline-block;
      font-family: "Roboto";
      font-style: italic;
      font-weight: 500;
      font-size: 1.6rem;
      color: $white;
      opacity: 0.7;
      text-decoration: none;
      padding: 2rem 0;
      margin-right: 1rem;
      transition: 0.15s ease-in-out;
      text-transform: capitalize;

      img {
        width: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .terms {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    // display: none;

    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      margin-left: 3.7rem;
    }
  }
}


.partners {
  background-color: $white;
  padding: 1.3rem 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  p {
    display: inline-block;
    width: 27%;
    color: #494949;
    text-align: left;
    line-height: 1.3;
    margin-left: 2rem;
  }

  .wrapper {
    text-align: center;
  }

  img {
    height: 8rem;
    margin: 0 1.5rem;
  }
}
