.search-form {
  // width: 55rem;
  width: 30%;
  // min-width: 42rem;
  margin-left: 4rem;
}

.search {
  width: 100%;
  flex: 1;
  padding: 1rem 1rem 1rem 2.2rem;
  background-color: #33315e;
  display: flex;
  border-radius: 0.8rem;
  margin-left: auto;
  height: 4.2rem;
  margin-top: 1.9rem;
  // margin-bottom: 3.3rem;

  &.focused {
    background-color: $white;

    .search__submit {
      background-color: $red;
    }
  }

  &__input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    color: $white;
    font-family: "FiraGO";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      background-color: $white;
      color: $red;
    }

    &::-webkit-input-placeholder {
      color: inherit;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
    }

    &::-moz-placeholder {
      color: inherit;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
    }

    &:-ms-input-placeholder {
      color: inherit;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
    }

    &:-moz-placeholder {
      color: inherit;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
    }
  }

  &__submit {
    width: 2.6rem;
    height: 2.6rem;
    @include center;
    background-color: #211f54;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
  }
}

//search page

.search-tab--organizations .blue-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 3%;
  row-gap: 5rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0;
  padding-bottom: 6rem;

  .pagination-container {
    grid-column: 1/5;
    margin-top: 1rem;

    .pagination {
      margin-bottom: 0;
    }
  }

  .subscibed-organization {
    width: 100%;
    margin-bottom: 0;
  }
}

.search-tab {
  display: none;

  &.active {
    display: block;
    min-height: 20vh;
    animation-name: fadeIn;
    animation-duration: 0.15s;
    animation-fill-mode: backwards;
  }

  .blue-container {
    min-height: 50vh;
    align-items: flex-start;
  }
}

.search-switch {
  margin-left: 0 !important;
}

//search page ends
