//colors
$blue-light: #2C337A;
$blue-dark: #211F54;
$blue-extra-light: #D7D7E3;
$blue-vivid: #334194;

$blue-gradient: linear-gradient(0deg, #211F54, #211F54);

$green-dark: #118595;
$green: #0AB1B1;
$green-light: #B9DADF;
$green-extra-light: #CEE5E9;

$red: #EE3048;
$orange:  #FFC20E;

$brown-dark: #50444D;

$grey-light: #D3D2DD;

$white: #fff;

$filter-accent: #334194;


//colors ends